<table>
  <tr><td><b>Email:</b></td>   <td><%= @contact[:email] %></td></tr>
  <tr><td><b>Dealership Name:</b></td> <td><%= @contact[:dealership_name] %></td></tr>
  <tr><td><b>Dealership Website:</b></td> <td><%= @contact[:dealership_website] %></td></tr>
  <tr><td><b>Message:</b></td> <td><%= @contact[:message] %></td></tr>
</table>
